<!-- Team E and F (Karl Hernandez, Eric Lo, Amelia Chin, Ari Schechter) -->
<!-- SoftDev -->
<!-- K14 — Form and Function / write a Flask app to echo a site visitor their input via an HTML form -->
<!-- 2020-12-08 -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
</head>

<body>
	<h1>Team E and F</h1>
	<p>Karl Hernandez, Eric Lo, Amelia Chin, Ari Schechter</p>
	<form action="/auth" method="GET">
    	<input type="text" name="username">
    	<input type="submit">
	</form>	
</body>

</html>