<!-- Team E and F (Karl Hernandez, Eric Lo, Amelia Chin, Ari Schechter) -->
<!-- SoftDev -->
<!-- K15 — Sessions Greetings / write a Flask app that uses session capabilities to allow a user to login and logout -->
<!-- 2020-12-12 -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
</head>

<body>
	<h1>Team E and F</h1>
	<p>Karl Hernandez, Eric Lo, Amelia Chin, Ari Schechter</p>
	<form action="/auth" method="POST">
		<label for="username">Username</label>
		<input type="text" name="username">
		<br>
		<label for="password">Password</label>
		<input type="text" name="password">
		<br>
		<input type="submit">
	</form>	
</body>

</html>