<!-- Team E and F (Karl Hernandez, Eric Lo, Amelia Chin, Ari Schechter) -->
<!-- SoftDev -->
<!-- K15 — Sessions Greetings / write a Flask app that uses session capabilities to allow a user to login and logout -->
<!-- 2020-12-12 -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Response</title>
</head>

<body>
	<h1>Team E and F</h1>
	<p>Karl Hernandez, Eric Lo, Amelia Chin, Ari Schechter</p>
	<h1>Hello, {{ user }}</h1>
	<p>Username: {{user}}</p>
	<button type="button">
		<a href="/logout">Log Out</a>
	</button>
	<!-- took out request method since we are just using POST -->
</body>
</html>